* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0 auto;
  max-width: 100%;
}

.letter, .blank {
  display: inline-block;
  border: solid 2px red;
  margin: 5px;
  height: 2rem;
  width: 1.7rem;
  text-align: center;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

.draggable, .droppable {
  cursor: pointer;
}

input, button {
  margin: 5px;
}
